#navbarNavAltMarkup {
  background-color: #cebfcb;
}

#navbarNavAltMarkup a {
  color: #F9E4E2;
  font-size: 1.3rem;
}

.banner {
  background-image: url(/assets/lolo-ban.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(161, 149, 159, 0.9);
          box-shadow: inset 0 0 0 1000px rgba(161, 149, 159, 0.9);
}

.banner h1,
.banner a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  margin-top: 5px;
  color: #F9E4E2;
}

.banner button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  margin: 40px 10px;
  border: none;
}

.banner .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

#logo {
  width: 60px;
  margin-top: -10px;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 200px;
}

#hero .btn-check:focus + .btn, #hero .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#hero button {
  border-radius: 2rem;
  width: 180px;
  height: 45px;
  font-size: 13px;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-color: #000000;
  color: #CEBFCB;
}

.sobre__nosotras {
  margin-top: 5rem;
  padding-bottom: 5rem;
  color: #707070;
}

.sobre__nosotras .conteiner {
  padding: 0rem 3.5rem;
  line-height: normal;
}

.sobre__nosotras .conteiner span {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5rem;
  height: 500px;
  font-family: bunya;
  background-color: #847E7D;
  color: #F9E4E2;
  text-align: center;
}

footer img {
  width: 50px;
}

footer p {
  margin: 0;
}

footer #instragram {
  fill: green;
}

@font-face {
  font-family: bunya;
  src: url(/fonts/Bunya-Regular_PERSONAL.ttf);
}

@font-face {
  font-family: bunya-thin;
  src: url(/fonts/Bunya-Thin_PERSONAL.ttf);
}

@font-face {
  font-family: bunya-light;
  src: url(/fonts/Bunya-Light_PERSONAL.ttf);
}

@font-face {
  font-family: bunya-black;
  src: url(/fonts/Bunya-Black_PERSONAL.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/fonts/Roboto-Regular.ttf);
}

.galeria-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}

.galeria-conteiner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria-conteiner .item1 {
  grid-area: uno;
  height: 100%;
  width: 100%;
}

.galeria__img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem;
}

body {
  background-color: #F8F0EF;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: bunya;
}

.ventasXMayor {
  background-color: #EED2CD;
}

.ventasXMayor .containerMio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ventasXMayor .containerMio p {
  padding: 2rem;
  margin-top: 2.5rem;
  text-align: center;
}

.ventasXMayor h2 {
  font-family: bunya;
  color: white;
  padding: 3rem 0rem;
  font-size: 24px;
  text-align: center;
}

.ventasXMayor .carrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4;
}

.ventasXMayor .slider {
  overflow-x: scroll;
  width: 90%;
}

.ventasXMayor .slider img {
  width: 100%;
  margin: 0px 15px;
}

.ventasXMayor p {
  font-family: roboto;
  color: #FFFFFF;
  font-size: 10px;
}

.ventasXMayor button {
  border: none;
  border-radius: 20px;
  font-family: roboto;
  font-size: 14px;
  width: 50%;
  height: 42px;
  background-color: #F8F0EF;
  margin: 2.5rem;
  padding: 0.75rem 0rem;
}

.envios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.envios #mobile {
  display: block;
}

.envios #desk {
  display: none;
}

.envios img {
  width: 20%;
}

.envios h2 {
  font-family: bunya;
  color: #707070;
  font-weight: lighter;
}

.envios h4 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 24px;
  color: #707070;
}

.envios h4:before,
.envios h4:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: "\a0";
  background-color: white;
}

.envios h4:before {
  margin-left: -52%;
  text-align: right;
}

.envios .chart h4 {
  font-size: 20px;
  font-family: bunya-thin;
  margin-bottom: 3rem;
  color: #707070;
  font-weight: lighter;
}

.envios .chart p {
  font-family: bunya-light;
  font-size: 18px;
  line-height: 0.3;
}

.whatsapp {
  position: fixed;
  right: -25px;
  bottom: 20px;
}

.whatsapp img {
  width: 50%;
}

@media screen and (min-width: 992px) {
  .banner {
    opacity: 80%;
    background-image: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #b8acb3;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .banner a {
    margin-left: 20px;
  }
  .banner h1 {
    color: #F9E4E2;
  }
  #navbarNavAltMarkup {
    opacity: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 120px;
    background-color: #b8acb3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #navbarNavAltMarkup .navbar-nav {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #navbarNavAltMarkup a {
    font-size: 1.7rem;
    margin: 0 15px;
    color: #F9E4E2;
  }
  #logo {
    width: 70px;
  }
  #hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 350px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/assets/lolo-ban.png);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/lolo-ban.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .ventasXMayor .containerMio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2 ()[1fr];
        grid-template-columns: 2 repeat(1fr);
        grid-template-areas: "carrusel titulo" "carrusel parrafo" "carrusel boton";
  }
  .ventasXMayor .containerMio .slider {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: carrusel;
    margin: 1.5rem 5rem;
    width: 400px;
  }
  .ventasXMayor .containerMio .slider img {
    margin: 0;
    width: 100%;
  }
  .ventasXMayor .containerMio ::-webkit-scrollbar {
    display: none;
  }
  .ventasXMayor .containerMio h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: titulo;
    margin: 0rem 10rem;
    font-size: 30px;
    padding: 0rem;
  }
  .ventasXMayor .containerMio p {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: parrafo;
    font-size: 15px;
    text-align: left;
    margin: 0rem 3rem;
    padding: 0;
  }
  .ventasXMayor .containerMio button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: boton;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 30%;
    margin: 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  .galeria-conteiner {
    margin: 5rem 0rem;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "uno uno dos cuatro" "uno uno tres cuatro";
    padding: 2rem;
    grid-gap: 1rem;
  }
  .galeria-conteiner .item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: uno;
    height: 100%;
  }
  .galeria-conteiner .item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: dos;
  }
  .galeria-conteiner .item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: tres;
  }
  .galeria-conteiner .item4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: cuatro;
    height: 100%;
  }
  .galeria-conteiner .item4 img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .galeria__img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0;
  }
  .envios {
    padding: 8rem;
  }
  .envios img {
    width: 10%;
  }
  .envios #mobile {
    display: none;
  }
  .envios #desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0rem 3rem;
  }
  .envios #desk .cards {
    width: 200px;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 3px gray;
            box-shadow: 0px 0px 3px gray;
    background-color: white;
    border-radius: 25px;
    margin: 0rem 0.25rem;
  }
  .envios #desk .cards h4 {
    font-family: bunya;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 5px;
  }
  .envios #desk .cards h4:before,
  .envios #desk .cards h4:after {
    display: none;
  }
  .envios #desk .cards p {
    color: #DE988C;
    font-family: roboto;
    font-size: 15px;
    margin: 15px;
  }
  .whatsapp {
    width: 10%;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 400px;
  }
  footer .footerDiv {
    width: 250px;
  }
  footer .footerDiv img {
    width: 50%;
  }
  footer .footerDiv h3 {
    font-size: 50px;
    margin: 5px 0px;
  }
  footer .footerDiv h4 {
    font-size: 30px;
    font-weight: lighter;
  }
  footer .footerDiv p {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */