.envios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  #mobile{
    display: block;
  }
  #desk{
    display: none;
  }
  img {
    width: 20%;
  }
  h2{
    font-family: bunya;
    color: $color2;
    font-weight: lighter;

  }
  h4 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 24px;
    color: $color2;
  }
  h4:before,
  h4:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: "\a0";
    background-color: white;
    
  }
  h4:before {
    margin-left: -52%;
    text-align: right;
  }

  .chart {
    h4 {
      font-size: 20px;
      font-family: bunya;
      margin-bottom: 3rem;
      color: $color2;
      font-weight: lighter;
    }
    p {
      font-family: bunya-light;
      font-size: 18px;
      line-height: 0.3;
    }
  }

}
