@font-face {
    font-family: bunya;
    src: url(../fonts/Bunya-Regular_PERSONAL.ttf);
}
@font-face {
    font-family: bunya-thin;
    src: url(../fonts/Bunya-Thin_PERSONAL.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}