footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    height: 500px;
    font-family: bunya;
    background-color: $color1;
    color: $color3;
    text-align: center;
    img{
        width: 50px;    }
    p{
        margin: 0;
    }
    #Instagram{
        fill: $color3;
        width: 70px;
        margin-top: -25px;
    }
    
}

