@font-face {
    font-family: bunya;
    src: url(/fonts/Bunya-Regular_PERSONAL.ttf);
}
@font-face {
    font-family: bunya-thin;
    src: url(/fonts/Bunya-Thin_PERSONAL.ttf);
}
@font-face {
    font-family: bunya-light;
    src: url(/fonts/Bunya-Light_PERSONAL.ttf);
}
@font-face {
    font-family: bunya-black;
    src: url(/fonts/Bunya-Black_PERSONAL.ttf);
}
@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}