.galeria-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item1 {
    grid-area: uno;
    height: 100%;
    width: 100%;
  }
}

.galeria__img {
  width: 70%;
  object-fit: cover;
  margin: 1rem;
}
