#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 200px;
  .btn-check:focus + .btn,
  .btn:focus {
    box-shadow: none;
  }

  a {
    -webkit-appearance: none;
    border-radius: 2rem;
    width: 180px;
    font-size: 13px;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    background-color: #000000;
    color: $color9;
  }
  a:hover {
    color: white;
  }
}
