@media screen and (min-width: 992px) {
  .banner {
    opacity: 80%;
    background-image: none;
    flex-direction: row-reverse;
    box-shadow: none;
    background-color: #b8acb3;
    justify-content: flex-end;
    a {
      margin-left: 20px;
    }
    h1 {
      color: $color3;
    }
  }

  #navbarNavAltMarkup {
    opacity: 80%;
    flex-direction: row-reverse;
    height: 120px;
    background-color: #b8acb3;
    flex-basis: 100%;

    .navbar-nav {
      width: 100%;
      justify-content: space-evenly;
    }
    a {
      font-size: 1.7rem;
      margin: 0 15px;
      color: $color3;
    }
  }

  #logo {
    width: 70px;
  }
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(/assets/lolo-ban.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .ventasXMayor {
    .containerMio {
      display: grid;
      grid-template-columns: 2 (repeat(1fr));
      grid-template-areas:
        "carrusel titulo"
        "carrusel parrafo"
        "carrusel boton";
      .slider {
        grid-area: carrusel;
        margin: 1.5rem 5rem;
        width: 400px;
        img {
          margin: 0;
          width: 100%;
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }
      h2 {
        grid-area: titulo;
        margin: 0rem 10rem;
        font-size: 30px;
        padding: 0rem;
      }

      p {
        grid-area: parrafo;
        font-size: 15px;
        text-align: left;
        margin: 0rem 3rem;
        padding: 0;
      }
      button {
        grid-area: boton;
        justify-self: center;
        width: 30%;
        margin: 0rem;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .galeria-conteiner {
    margin: 5rem 0rem;
    display: grid;
    grid-template-areas:
      "uno uno dos cuatro"
      "uno uno tres cuatro";
    padding: 2rem;
    grid-gap: 1rem;

    .item1 {
      grid-area: uno;
      height: 100%;
    }
    .item2 {
      grid-area: dos;
    }
    .item3 {
      grid-area: tres;
    }
    .item4 {
      grid-area: cuatro;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .galeria__img {
    width: 100%;
    object-fit: contain;
    margin: 0;
  }
  .envios {
    padding: 8rem;
    img {
      width: 10%;
    }
    #mobile {
      display: none;
    }
    #desk {
      display: flex;
      padding: 0rem 3rem;

      .cards {
        width: 200px;
        height: 280px;
        display: flex;
        flex-direction: column;
        h4 {
          font-family: bunya;
          font-weight: lighter;
          font-size: 30px;
          margin-top: 5px;
        }
        h4:before,
        h4:after {
          display: none;
        }
        box-shadow: 0px 0px 3px gray;
        background-color: white;
        border-radius: 25px;
        margin: 0rem 0.25rem;
        p {
          color: $color10;
          font-family: roboto;
          font-size: 15px;
          margin: 15px;
        }
      }
    }
  }
  .whatsapp {
    width: 10%;
  }
  footer {
    flex-direction: row;
    height: 400px;
    .footerDiv {
      width: 250px;
      img {
        width: 50%;
      }
      h3 {
        font-size: 50px;
        margin: 5px 0px;
      }
      h4 {
        font-size: 30px;
        font-weight: lighter;
      }
      p {
        font-size: 25px;
      }
    }
  }
}
@media only screen and (min-width: 1500px) {
  .galery {
    display: flex;
    justify-content: center;
  }
  .galeria-conteiner {
    width: 70%;
  }
}
