@media (min-width: 1200px) {
  .ventasXMayor {
    .container {
      display: grid;
      grid-template-columns: 2 (repeat(1fr));
      grid-template-areas:
        "carrusel titulo"
        "carrusel parrafo"
        "carrusel boton";
      .slider {
        grid-area: carrusel;
        margin: 1.5rem 5rem;
        width: 400px;

        img {
          margin: 0;
          width: 100%;
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }
      .h2{
        grid-area: titulo;
      }

      p {
        grid-area: parrafo;
        font-size: 20px;
      }
      button {
        grid-area: boton;
        justify-self: center;
      }
    }
  }
}
