#navbarNavAltMarkup {
  background-color: rgb(206, 191, 203);
}

#navbarNavAltMarkup {
  a {
    color: $color3;
    font-size: 1.3rem;
  }
}

.banner {
  background-image: url(../assets/lolo-ban.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(161, 149, 159, 0.9);

  h1,
  a {
    width: fit-content;
    align-self: center;
    margin: 0;
    margin-top: 5px;
    color: $color3;
  }
  button {
    width: fit-content;
    align-self: flex-end;
    position: absolute;
    margin: 40px 10px;
    border: none;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}

.navbar {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.container-fluid {
  padding: 0;
}

#logo {
  width: 60px;
  margin-top: -10px;
}
