.sobre__nosotras {
  margin-top: 5rem;
  padding-bottom: 5rem;
  color: $color2;

  .conteiner {
    padding: 0rem 3.5rem;
    line-height: normal;
    span {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
